@typeparam TItem where TItem : class
@using System.Diagnostics.CodeAnalysis

@if (_isEditMode)
{
    @EditTemplate(_itemCopy)
    <div class="actions">
        <button @onclick="Save">
            <LucideIcon Name="@LucideIcon.Save" />
        </button>
        <button @onclick="CancelEditMode">
            <LucideIcon Name="@LucideIcon.X" />
        </button>
    </div>
}
else
{
    @ReadTemplate
    <div class="actions">
        <button @onclick="StartEditMode">
            <LucideIcon Name="@LucideIcon.Pencil" />
        </button>
        <button @onclick="Delete">
            <LucideIcon Name="@LucideIcon.Trash2" />
        </button>
    </div>
}

@code {
    
    [Parameter]
    [NotNull]
    public RenderFragment? ReadTemplate { get; set; }
    
    [Parameter]
    [NotNull]
    public RenderFragment<TItem>? EditTemplate { get; set; }
    
    [Parameter]
    public EventCallback<OnActionCompletedArgs<TItem>> OnActionCompleted { get; set; }
    
    [Parameter]
    [NotNull]
    public TItem? Item { get; set; }
    
    [CascadingParameter]
    [NotNull]
    public EditContext? EditContext { get; set; }

    private TItem _itemCopy = default!;
    
    bool _isEditMode;
    private void StartEditMode()
    {
        if (Item == null)
        {
            throw new ArgumentException("Item is null");
        }
        
        var memberwiseClone = typeof(object).GetMethod("MemberwiseClone",
            System.Reflection.BindingFlags.Instance | System.Reflection.BindingFlags.NonPublic);

        Console.WriteLine($"item is: {Item}");
        // This should never fail, so I'm going to let it fly for now.
        _itemCopy = (TItem)memberwiseClone!.Invoke(Item, null)!;
        _isEditMode = true;
        
        EditContext = new EditContext(_itemCopy);
    }
    
    private void CancelEditMode()
    {
        _isEditMode = false;
    }
    
    private async Task Delete()
    {
        await OnActionCompleted.InvokeAsync(new OnActionCompletedArgs<TItem>(ActionType.Delete, _itemCopy));
    }
    
    private async Task Save()
    {
        await OnActionCompleted.InvokeAsync(new OnActionCompletedArgs<TItem>(ActionType.Save, _itemCopy));
        _isEditMode = false;
    }
}